.row
  .col-lg-8.offset-lg-2.align-middle
    .card.distance
      .card-header
        %h1 Add new quote
      .card-body
        = simple_form_for @quote, wrapper: :horizontal_form do |f|
          = f.error_notification
          = f.input :body, placeholder: 'No, I am your father.'
          = f.input :author, placeholder: 'Darth Vader '
          = f.input :source, placeholder: "Star Wars Episode V: The Empire Strikes Back"
          .form-group.row.mb-0
            .col-sm-9.offset-sm-3
              = f.button :submit, class: "btn-primary"
              = link_to "Cancel", quotes_path, class: "btn btn-outline-secondary"
