.jumbotron
  %blockquote.blockquote.mb-0
    %p
      = @quote.body
    %footer.blockquote-footer
      = @quote.introduction
    %hr.my-6
      .text-muted.small
        created
        = time_ago_in_words(@quote.created_at)
        ago
.row
  .col-md-12
    = render 'comments/form'
    .card.custom-margin
      .card-body
        %h5 Comments:
    = render 'comments/comments'
    
